head
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width,initial-scale=1")
	meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
	meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
	meta(name="cmsmagazine" content="#{cmsmagazine}")
	meta(name="yandex-verification" content="#{yandex_verification}")
	meta(name="google-site-verification" content="#{google_verification}")
	title #{title}
	style
		include ../../../assets/templates/projectsoft/css/preloader.css
	//
		link(rel="stylesheet" href="#{templatedir}/css/main.css" type="text/css")
